@import "tailwindcss";
@import "@nuxt/ui";

@theme static {
    --primary: black;
}

:root {
    --ui-primary: black;
    --ui-success: oklch(0.897 0.196 126.665);
    --ui-error: oklch(0.808 0.114 19.571);
    --ui-warning: oklch(0.905 0.182 98.111);
    --ui-info: oklch(0.865 0.127 207.078);
    --ui-bg-accented: lightgray;
    --ui-bg: white;
    --ui-bg-soft: #f3f4f6;
    --ui-radius: var(--radius-lg);
}

.dark {
    --ui-primary: white;
    --ui-bg-accented: gray;
    --ui-bg: black;
    --ui-bg-soft: gray;
    --ui-text: white;
    --ui-text-soft: lightgray;
}